<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SuperEmailValidator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="YoutubeRanker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="KeyWordRanker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <SuperEmailValidator.Properties.Settings>
            <setting name="UserEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="UserPass" serializeAs="String">
                <value />
            </setting>
            <setting name="vkey" serializeAs="String">
                <value>MN120-EAA35CB620BA48D5734D03C69F5F-E15B</value>
            </setting>
            <setting name="valicationLevel" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="HelloDomain" serializeAs="String">
                <value />
            </setting>
            <setting name="DNSList" serializeAs="String">
                <value>4.2.2.1
4.2.2.2
4.2.2.3
4.2.2.4
4.2.2.5
4.2.2.6
8.8.8.8
8.8.4.4
209.244.0.3
209.244.0.4
208.67.222.222
208.67.220.220</value>
            </setting>
            <setting name="FromEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="SeepTime" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="port25" serializeAs="String">
                <value>False</value>
            </setting>
        </SuperEmailValidator.Properties.Settings>
        <YoutubeRanker.Properties.Settings>
            <setting name="apikey" serializeAs="String">
                <value/>
            </setting>
            <setting name="UserEmail" serializeAs="String">
                <value/>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value/>
            </setting>
            <setting name="UserCountry" serializeAs="String">
                <value/>
            </setting>
            <setting name="UserWork" serializeAs="String">
                <value/>
            </setting>
            <setting name="UserMobile" serializeAs="String">
                <value/>
            </setting>
            <setting name="UserWebsite" serializeAs="String">
                <value/>
            </setting>
            <setting name="userid" serializeAs="String">
                <value/>
            </setting>
            <setting name="connectionstring" serializeAs="String">
                <value/>
            </setting>
            <setting name="selectedCountry" serializeAs="String">
                <value/>
            </setting>
            <setting name="ExcelID" serializeAs="String">
                <value>1sGsZ603XrQwTFowvYgVEtcyqqADIo44Zsw_TkMxG7v0</value>
            </setting>
            <setting name="ytToken" serializeAs="String">
                <value/>
            </setting>
        </YoutubeRanker.Properties.Settings>
        <KeyWordRanker.Properties.Settings>
            <setting name="apikey" serializeAs="String">
                <value/>
            </setting>
            <setting name="email" serializeAs="String">
                <value/>
            </setting>
            <setting name="name" serializeAs="String">
                <value/>
            </setting>
            <setting name="country" serializeAs="String">
                <value/>
            </setting>
            <setting name="work" serializeAs="String">
                <value/>
            </setting>
            <setting name="mobile" serializeAs="String">
                <value/>
            </setting>
            <setting name="website" serializeAs="String">
                <value/>
            </setting>
            <setting name="userid" serializeAs="String">
                <value/>
            </setting>
            <setting name="connectionstring" serializeAs="String">
                <value/>
            </setting>
            <setting name="selectedCountry" serializeAs="String">
                <value/>
            </setting>
            <setting name="ExcelID" serializeAs="String">
                <value>1sGsZ603XrQwTFowvYgVEtcyqqADIo44Zsw_TkMxG7v0</value>
            </setting>
        </KeyWordRanker.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.2" newVersion="4.1.1.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.41.1.0" newVersion="1.41.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.41.1.0" newVersion="1.41.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.11.12.0" newVersion="1.11.12.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
